body {
    font-family: "Roboto";
}

/**** Навігаційне меню  ****/
.menu .col-3 {
    border-radius: 0px;
}

.nav_menu a {
    font-weight: bold;
}

.menu {
    padding: 0;
    min-height: 100vh;
    line-height: 2.5;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) inset;
    min-width: 230px;
}

.menu .nav-tabs {
    border-bottom: none;
}

.menu .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

.menu .nav-tabs .nav-link:hover {
    background-color: rgb(187, 187, 187);
}

.nav_menu .active {
    box-shadow: -5px 0 0 -1px rgb(26, 115, 232) inset;
    /* Прямокутник "Горизонтальне підкреслення" справа активного пункта меню */
}

.nav_menu .active:hover {
    background-color: white !important;
    /* Обнулення ефекту наведення активного пункта меню */
}


/**** Головна частина  ****/

.content {
    min-height: 100vh;
}


/**** Кнопка меню  ****/
.button-header:focus {
    border-color: rgba(0, 0, 0, .1);
    outline: none !important;
    box-shadow: none;
}

/**** Хлібні крошки ****/

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
    margin: auto;

}

.breadcrumb {
    min-width: 180px;
}

/**** Хедер ****/

.navbar {
    border-radius: 0 0 0.75rem 0.75rem;
}

.navbar .nav-item {
    padding: 2px 5px;

}

.navbar .nav-item a {
    display: flex;
    align-items: center;
    /* Вирівнювання іконки користувача */
}

.navbar .nav-tabs {
    border-bottom: none;

}

.navbar .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

.navbar .nav-tabs .nav-link.active {
    display: inline-flex;
    border-bottom: 4px solid rgb(26, 115, 232);
}

.dropdown-menu {
    border-radius: 0.75rem;

}

.dropdown {

    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.btn-order {
    border: none;
    background-color: #00d423;
    border-radius: 2rem;
    font-weight: 600;

    /*кастомізація кнопки ADD в формі  */
}

/**** Таблиця ****/

.table-account {
    background-color: #fff;
    border-radius: 0.75rem;
    width: 100%;
    overflow-y: auto;
    overflow: auto;
    margin: 0 0 1em;
    padding: 0;
}

.table {
    border-top: 2px solid #fff;
    /* кастиль щоб прибрати верхню лінію в таблиці */
}

.table-account tr .btn {
    background-color: #fff;
    /* відбілювання кнопок, бо table-striped красить кнопки також */
}

.table-account tr .btn:hover {
    background-color: #28a745;
}






/**************************************************/
/****************** Pay.html **********************/
/**************************************************/

/**** Форма оплати  ****/

.pay-form {
    border-radius: 0.75rem;
    font-weight: bold;

}

.form-group {
    margin-bottom: 1.5rem;
    margin: 0;
    max-width: 600px;
    /* заокруглення інпутів */
}

.form-control-custom {
    border: none;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 2px 13px -7px rgba(0, 0, 0, .55);
    border-radius: 2rem;
    /* кастомізація інпутів */
}

.btn-add {
    border: none;
    background-color: #00d423;
    border-radius: 2rem;
    font-weight: 600;
    width: 100%;
    /*кастомізація кнопки ADD в формі  */
}